<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>characters_finn_celebrate0001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1168},{79,148}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1168},{79,148}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{180,1537},{84,138}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{180,1537},{84,138}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{79,1495},{99,130}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{79,1495},{99,130}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{79,1495},{99,130}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,2},{119,212}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0009.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,2},{119,212}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0010.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{276,2},{123,195}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0011.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{276,2},{123,195}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0012.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{276,2},{123,195}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0013.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{276,2},{123,195}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0014.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{276,2},{123,195}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0015.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1020},{89,146}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0016.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1020},{89,146}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0017.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1020},{89,146}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0018.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{238,807},{104,143}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0019.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{238,807},{104,143}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0020.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{238,807},{104,143}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0021.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{344,926},{138,138}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0022.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{344,926},{138,138}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0023.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{344,926},{138,138}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0024.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,704},{95,155}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0025.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,704},{95,155}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0026.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,704},{95,155}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0027.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{227,1102},{97,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0028.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{227,1102},{97,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0029.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{227,1102},{97,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_celebrate0030.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{384,475},{119,145}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{111,474},{152,145}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{123,324},{144,148}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{123,166},{148,156}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{123,2},{151,162}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{97,911},{136,144}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{273,199},{123,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,545},{95,157}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{398,310},{107,163}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0009.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{111,474},{152,145}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0010.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{123,324},{144,148}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0011.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{123,166},{148,156}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0012.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{123,2},{151,162}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0013.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{97,911},{136,144}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0014.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{273,199},{123,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0015.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,545},{95,157}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_dash0016.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{398,310},{107,163}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_fall0001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{269,350},{113,153}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_fall0002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{269,350},{113,153}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_fall0003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{255,652},{109,153}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_fall0004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{255,652},{109,153}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_fall0005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{266,1542},{108,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_fall0006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{266,1542},{108,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_fall0007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{376,1542},{106,94}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_fall0008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{376,1542},{106,94}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_fall0009.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{376,1638},{108,91}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_kick0001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{401,160},{106,148}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_kick0002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{366,773},{131,151}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_kick0003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{366,773},{131,151}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_kick0004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{366,773},{131,151}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_kick0005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{99,621},{154,143}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_kick0006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{99,621},{154,143}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_kick0007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{99,766},{137,143}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_kick0008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{93,1057},{132,144}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_kick0009.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{83,1203},{132,144}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_kick0010.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{83,1203},{132,144}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_lose0001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{217,1253},{103,140}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_lose0002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{217,1253},{103,140}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_lose0003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{209,1395},{100,140}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_lose0004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{209,1395},{100,140}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_lose0005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{304,1731},{99,92}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_lose0006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{304,1731},{99,92}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_lose0007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{405,1731},{97,87}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_lose0008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{405,1731},{97,87}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_lose0009.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1746},{100,82}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{265,505},{116,145}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{265,505},{116,145}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{235,952},{100,148}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{235,952},{100,148}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{401,2},{102,156}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{401,2},{102,156}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,216},{119,162}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,216},{119,162}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0009.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{79,1349},{128,144}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0010.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{79,1349},{128,144}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0011.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{383,622},{112,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0012.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{383,622},{112,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0013.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,861},{93,157}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0014.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,861},{93,157}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0015.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,380},{107,163}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_run0016.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,380},{107,163}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_stand0001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1318},{75,147}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_stand0002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1318},{75,147}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_stand0003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1318},{75,147}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_stand0004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1467},{75,146}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_stand0005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1467},{75,146}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_stand0006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1467},{75,146}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_tackle0001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{169,1677},{133,126}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_tackle0002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{169,1677},{133,126}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_tackle0003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1627},{165,117}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_tackle0004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{2,1627},{165,117}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_tackle0005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{311,1423},{166,117}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_tackle0006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{311,1423},{166,117}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_tackle0007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{337,1066},{169,117}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_tackle0008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{337,1066},{169,117}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_tackle0009.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{326,1185},{171,117}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_tackle0010.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{326,1185},{171,117}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>characters_finn_tackle0011.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{240,240}</string>
        <key>spriteSourceSize</key>
        <string>{240,240}</string>
        <key>textureRect</key>
        <string>{{322,1304},{171,117}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>finn_red.png</string>
      <key>size</key>
      <string>{509,1830}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:85e05f60e26b24018e33c9290d0dd99b:a0116e7df74a7e4a404eb2b5339d0f33:034a757a0d1bd8a6afec70b250e3876e$</string>
      <key>textureFileName</key>
      <string>finn_red.png</string>
    </dict>
  </dict>
</plist>