<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>breadcrumb_1_grey.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{207,53}</string>
        <key>spriteSourceSize</key>
        <string>{207,53}</string>
        <key>textureRect</key>
        <string>{{1376,2},{207,53}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>breadcrumb_1_orange.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{207,53}</string>
        <key>spriteSourceSize</key>
        <string>{207,53}</string>
        <key>textureRect</key>
        <string>{{1376,58},{207,53}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>breadcrumb_2_grey.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{232,53}</string>
        <key>spriteSourceSize</key>
        <string>{232,53}</string>
        <key>textureRect</key>
        <string>{{1141,2},{232,53}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>breadcrumb_2_orange.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{232,53}</string>
        <key>spriteSourceSize</key>
        <string>{232,53}</string>
        <key>textureRect</key>
        <string>{{1141,58},{232,53}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>breadcrumb_3_grey.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{281,52}</string>
        <key>spriteSourceSize</key>
        <string>{281,52}</string>
        <key>textureRect</key>
        <string>{{1586,2},{281,52}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>breadcrumb_3_orange.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{281,52}</string>
        <key>spriteSourceSize</key>
        <string>{281,52}</string>
        <key>textureRect</key>
        <string>{{1586,57},{281,52}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>breadcrumb_back.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1136,74}</string>
        <key>spriteSourceSize</key>
        <string>{1136,74}</string>
        <key>textureRect</key>
        <string>{{2,2},{1136,74}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>breadcrumb.png</string>
      <key>size</key>
      <string>{1869,113}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:e01cd193442f0365e48059a068d3ce3a:2329167ffdf4ed46fa3abf4f86448c80:90a8c12cc8b04a19a1a4060089dbc667$</string>
      <key>textureFileName</key>
      <string>breadcrumb.png</string>
    </dict>
  </dict>
</plist>