<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>country_backer_1.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{149,131}</string>
        <key>spriteSourceSize</key>
        <string>{149,131}</string>
        <key>textureRect</key>
        <string>{{2,540},{149,131}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>country_backer_2.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{149,131}</string>
        <key>spriteSourceSize</key>
        <string>{149,131}</string>
        <key>textureRect</key>
        <string>{{2,674},{149,131}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>country_backer_panel.jpg</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{149,131}</string>
        <key>spriteSourceSize</key>
        <string>{149,131}</string>
        <key>textureRect</key>
        <string>{{2,808},{149,131}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>country_map.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{170,86}</string>
        <key>spriteSourceSize</key>
        <string>{170,86}</string>
        <key>textureRect</key>
        <string>{{2,184},{170,86}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>map_africa.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{171,88}</string>
        <key>spriteSourceSize</key>
        <string>{171,88}</string>
        <key>textureRect</key>
        <string>{{2,2},{171,88}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>map_americas.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{170,86}</string>
        <key>spriteSourceSize</key>
        <string>{170,86}</string>
        <key>textureRect</key>
        <string>{{2,273},{170,86}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>map_asia.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{171,88}</string>
        <key>spriteSourceSize</key>
        <string>{171,88}</string>
        <key>textureRect</key>
        <string>{{2,93},{171,88}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>map_eastern_europe.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{170,86}</string>
        <key>spriteSourceSize</key>
        <string>{170,86}</string>
        <key>textureRect</key>
        <string>{{2,362},{170,86}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>map_western_europe.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{170,86}</string>
        <key>spriteSourceSize</key>
        <string>{170,86}</string>
        <key>textureRect</key>
        <string>{{2,451},{170,86}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>country_select.png</string>
      <key>size</key>
      <string>{175,941}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:44eb2a74258c8f72dcdedb64698bfb8a:9f43c11dd489cb7fb7bef68c525053d2:9f09dafaea074ba4e1cc84da2148ae7a$</string>
      <key>textureFileName</key>
      <string>country_select.png</string>
    </dict>
  </dict>
</plist>