<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>button_leaderboard.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{262,133}</string>
        <key>spriteSourceSize</key>
        <string>{262,133}</string>
        <key>textureRect</key>
        <string>{{1589,1098},{262,133}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_practice.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{266,79}</string>
        <key>spriteSourceSize</key>
        <string>{266,79}</string>
        <key>textureRect</key>
        <string>{{1038,865},{266,79}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_tournament.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{262,160}</string>
        <key>spriteSourceSize</key>
        <string>{262,160}</string>
        <key>textureRect</key>
        <string>{{1324,1098},{262,160}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_unlockables.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{275,160}</string>
        <key>spriteSourceSize</key>
        <string>{275,160}</string>
        <key>textureRect</key>
        <string>{{1284,623},{275,160}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_unlockables_character1.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{275,160}</string>
        <key>spriteSourceSize</key>
        <string>{275,160}</string>
        <key>textureRect</key>
        <string>{{1307,786},{275,160}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_unlockables_character2.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{275,160}</string>
        <key>spriteSourceSize</key>
        <string>{275,160}</string>
        <key>textureRect</key>
        <string>{{1562,623},{275,160}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_unlockables_character3.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{275,160}</string>
        <key>spriteSourceSize</key>
        <string>{275,160}</string>
        <key>textureRect</key>
        <string>{{1585,786},{275,160}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>camera-flash.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{67,67}</string>
        <key>spriteSourceSize</key>
        <string>{67,67}</string>
        <key>textureRect</key>
        <string>{{1716,101},{67,67}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flash-big-1.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{304,304}</string>
        <key>spriteSourceSize</key>
        <string>{304,304}</string>
        <key>textureRect</key>
        <string>{{710,951},{304,304}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flash-big-2.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{304,304}</string>
        <key>spriteSourceSize</key>
        <string>{304,304}</string>
        <key>textureRect</key>
        <string>{{1017,951},{304,304}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flash-spotlight-big.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{705,705}</string>
        <key>spriteSourceSize</key>
        <string>{705,705}</string>
        <key>textureRect</key>
        <string>{{2,623},{705,705}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flash-spotlight-small.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{325,325}</string>
        <key>spriteSourceSize</key>
        <string>{325,325}</string>
        <key>textureRect</key>
        <string>{{710,623},{325,325}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>home_searchlight.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1711,308}</string>
        <key>spriteSourceSize</key>
        <string>{1711,308}</string>
        <key>textureRect</key>
        <string>{{2,2},{1711,308}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>home_stadium_light.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1708,307}</string>
        <key>spriteSourceSize</key>
        <string>{1708,307}</string>
        <key>textureRect</key>
        <string>{{2,313},{1708,307}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>plaque.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{421,146}</string>
        <key>spriteSourceSize</key>
        <string>{421,146}</string>
        <key>textureRect</key>
        <string>{{1324,949},{421,146}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>spotlight-3.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{243,239}</string>
        <key>spriteSourceSize</key>
        <string>{243,239}</string>
        <key>textureRect</key>
        <string>{{1038,623},{243,239}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>spotlight-mini.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,96}</string>
        <key>spriteSourceSize</key>
        <string>{96,96}</string>
        <key>textureRect</key>
        <string>{{1716,2},{96,96}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>home_screen.png</string>
      <key>size</key>
      <string>{1862,1330}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:b85a305cc35f1094a3625adff124250f:be9801f37b935468b4eeb4137a0566dc:a556748efec6f581c8f0a6328d8cf5aa$</string>
      <key>textureFileName</key>
      <string>home_screen.png</string>
    </dict>
  </dict>
</plist>