<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>logo-main.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{541,452}</string>
        <key>spriteSourceSize</key>
        <string>{541,452}</string>
        <key>textureRect</key>
        <string>{{2,2},{541,452}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>logo_ball.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{128,128}</string>
        <key>spriteSourceSize</key>
        <string>{128,128}</string>
        <key>textureRect</key>
        <string>{{831,579},{128,128}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>logo_ball_shadow.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{128,128}</string>
        <key>spriteSourceSize</key>
        <string>{128,128}</string>
        <key>textureRect</key>
        <string>{{831,710},{128,128}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>logo_character_1.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{339,213}</string>
        <key>spriteSourceSize</key>
        <string>{339,213}</string>
        <key>textureRect</key>
        <string>{{831,363},{339,213}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>logo_character_2.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{269,397}</string>
        <key>spriteSourceSize</key>
        <string>{269,397}</string>
        <key>textureRect</key>
        <string>{{559,404},{269,397}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>logo_character_3.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{358,358}</string>
        <key>spriteSourceSize</key>
        <string>{358,358}</string>
        <key>textureRect</key>
        <string>{{769,2},{358,358}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>logo_character_3_glow.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{113,115}</string>
        <key>spriteSourceSize</key>
        <string>{113,115}</string>
        <key>textureRect</key>
        <string>{{962,579},{113,115}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>logo_character_4.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{220,399}</string>
        <key>spriteSourceSize</key>
        <string>{220,399}</string>
        <key>textureRect</key>
        <string>{{546,2},{220,399}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>logo_character_5.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{249,400}</string>
        <key>spriteSourceSize</key>
        <string>{249,400}</string>
        <key>textureRect</key>
        <string>{{307,457},{249,400}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>logo_character_6.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{302,408}</string>
        <key>spriteSourceSize</key>
        <string>{302,408}</string>
        <key>textureRect</key>
        <string>{{2,457},{302,408}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>home_logo.png</string>
      <key>size</key>
      <string>{1172,867}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:ffe9ad4421af5a253374e885ec9a380d:1d8866cf4b020d9cae3ee03018c1d235:80b0790fb2b74313479a51b8e4508091$</string>
      <key>textureFileName</key>
      <string>home_logo.png</string>
    </dict>
  </dict>
</plist>