<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>coin-bar.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{194,62}</string>
        <key>spriteSourceSize</key>
        <string>{194,62}</string>
        <key>textureRect</key>
        <string>{{1655,939},{194,62}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>coin.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{62,62}</string>
        <key>spriteSourceSize</key>
        <string>{62,62}</string>
        <key>textureRect</key>
        <string>{{1669,686},{62,62}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>coing_ring.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{66,66}</string>
        <key>spriteSourceSize</key>
        <string>{66,66}</string>
        <key>textureRect</key>
        <string>{{967,686},{66,66}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>panel_language.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{560,390}</string>
        <key>spriteSourceSize</key>
        <string>{560,390}</string>
        <key>textureRect</key>
        <string>{{2,1488},{560,390}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>panel_leaderboard.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{962,681}</string>
        <key>spriteSourceSize</key>
        <string>{962,681}</string>
        <key>textureRect</key>
        <string>{{967,2},{962,681}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>panel_legal_pop_up.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{560,700}</string>
        <key>spriteSourceSize</key>
        <string>{560,700}</string>
        <key>textureRect</key>
        <string>{{1092,686},{560,700}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>panel_quit.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{582,429}</string>
        <key>spriteSourceSize</key>
        <string>{582,429}</string>
        <key>textureRect</key>
        <string>{{1092,1389},{582,429}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>panel_small.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{582,429}</string>
        <key>spriteSourceSize</key>
        <string>{582,429}</string>
        <key>textureRect</key>
        <string>{{1092,1389},{582,429}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>panel_stickerbook.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{962,759}</string>
        <key>spriteSourceSize</key>
        <string>{962,759}</string>
        <key>textureRect</key>
        <string>{{2,2},{962,759}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>panel_tournament.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1087,721}</string>
        <key>spriteSourceSize</key>
        <string>{1087,721}</string>
        <key>textureRect</key>
        <string>{{2,764},{1087,721}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>scroll_bar.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{11,250}</string>
        <key>spriteSourceSize</key>
        <string>{11,250}</string>
        <key>textureRect</key>
        <string>{{1655,686},{11,250}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>scroll_bar_bit.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{11,40}</string>
        <key>spriteSourceSize</key>
        <string>{11,40}</string>
        <key>textureRect</key>
        <string>{{1734,686},{11,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tick_box.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{44,44}</string>
        <key>spriteSourceSize</key>
        <string>{44,44}</string>
        <key>textureRect</key>
        <string>{{1036,686},{44,44}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>hud.png</string>
      <key>size</key>
      <string>{1931,1880}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:a7f280c011c1d1cfe2b076ab2385d54c:b704d18af8decaae2cfb93555c2994aa:1f12e3a3d447c2b9be1f7d9b1846589c$</string>
      <key>textureFileName</key>
      <string>hud.png</string>
    </dict>
  </dict>
</plist>