<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bar_1.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{514,85}</string>
        <key>spriteSourceSize</key>
        <string>{514,85}</string>
        <key>textureRect</key>
        <string>{{2,2},{514,85}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bar_2.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{514,85}</string>
        <key>spriteSourceSize</key>
        <string>{514,85}</string>
        <key>textureRect</key>
        <string>{{2,90},{514,85}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bar_3.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{514,85}</string>
        <key>spriteSourceSize</key>
        <string>{514,85}</string>
        <key>textureRect</key>
        <string>{{2,178},{514,85}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bar_4.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{514,85}</string>
        <key>spriteSourceSize</key>
        <string>{514,85}</string>
        <key>textureRect</key>
        <string>{{2,266},{514,85}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bar_5.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{514,85}</string>
        <key>spriteSourceSize</key>
        <string>{514,85}</string>
        <key>textureRect</key>
        <string>{{2,354},{514,85}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bar_6.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{514,85}</string>
        <key>spriteSourceSize</key>
        <string>{514,85}</string>
        <key>textureRect</key>
        <string>{{2,442},{514,85}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bar_top.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{514,85}</string>
        <key>spriteSourceSize</key>
        <string>{514,85}</string>
        <key>textureRect</key>
        <string>{{2,530},{514,85}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>logo_2.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{177,103}</string>
        <key>spriteSourceSize</key>
        <string>{177,103}</string>
        <key>textureRect</key>
        <string>{{519,2},{177,103}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>loader.png</string>
      <key>size</key>
      <string>{698,617}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:43f566321e5e3e2b76ce2e807dc21a9a:0c7c0295f14cdecc914ba28e2e613101:f738fe997bb2212a06178648a8058842$</string>
      <key>textureFileName</key>
      <string>loader.png</string>
    </dict>
  </dict>
</plist>