<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bar_accuracy.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{287,40}</string>
        <key>spriteSourceSize</key>
        <string>{287,40}</string>
        <key>textureRect</key>
        <string>{{650,1526},{287,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bar_accuracy_bit.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{16,24}</string>
        <key>spriteSourceSize</key>
        <string>{16,24}</string>
        <key>textureRect</key>
        <string>{{293,1727},{16,24}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bar_power.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{287,40}</string>
        <key>spriteSourceSize</key>
        <string>{287,40}</string>
        <key>textureRect</key>
        <string>{{2,1853},{287,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bar_power_bit.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{16,24}</string>
        <key>spriteSourceSize</key>
        <string>{16,24}</string>
        <key>textureRect</key>
        <string>{{293,1754},{16,24}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bar_speed.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{287,40}</string>
        <key>spriteSourceSize</key>
        <string>{287,40}</string>
        <key>textureRect</key>
        <string>{{2,1896},{287,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bar_speed_bit.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{16,24}</string>
        <key>spriteSourceSize</key>
        <string>{16,24}</string>
        <key>textureRect</key>
        <string>{{844,1654},{16,24}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>coin_spend_bar_1.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{288,102}</string>
        <key>spriteSourceSize</key>
        <string>{288,102}</string>
        <key>textureRect</key>
        <string>{{340,1578},{288,102}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>coin_spend_bar_2.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{288,102}</string>
        <key>spriteSourceSize</key>
        <string>{288,102}</string>
        <key>textureRect</key>
        <string>{{650,1421},{288,102}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>coin_spend_bar_3.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{288,102}</string>
        <key>spriteSourceSize</key>
        <string>{288,102}</string>
        <key>textureRect</key>
        <string>{{2,1748},{288,102}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>coin_spend_bar_4.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{288,102}</string>
        <key>spriteSourceSize</key>
        <string>{288,102}</string>
        <key>textureRect</key>
        <string>{{557,1699},{288,102}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>coin_spend_bar_5.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{288,102}</string>
        <key>spriteSourceSize</key>
        <string>{288,102}</string>
        <key>textureRect</key>
        <string>{{478,1804},{288,102}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>coin_spend_coin.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{82,82}</string>
        <key>spriteSourceSize</key>
        <string>{82,82}</string>
        <key>textureRect</key>
        <string>{{844,1569},{82,82}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>coin_spend_slot.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{60,120}</string>
        <key>spriteSourceSize</key>
        <string>{60,120}</string>
        <key>textureRect</key>
        <string>{{262,1604},{60,120}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>glow_large.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{335,180}</string>
        <key>spriteSourceSize</key>
        <string>{335,180}</string>
        <key>textureRect</key>
        <string>{{2,1421},{335,180}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>glow_medium.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{257,141}</string>
        <key>spriteSourceSize</key>
        <string>{257,141}</string>
        <key>textureRect</key>
        <string>{{2,1604},{257,141}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>glow_small.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{210,118}</string>
        <key>spriteSourceSize</key>
        <string>{210,118}</string>
        <key>textureRect</key>
        <string>{{631,1578},{210,118}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>grid_large.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{938,470}</string>
        <key>spriteSourceSize</key>
        <string>{938,470}</string>
        <key>textureRect</key>
        <string>{{2,2},{938,470}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>grid_medium.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{938,470}</string>
        <key>spriteSourceSize</key>
        <string>{938,470}</string>
        <key>textureRect</key>
        <string>{{2,475},{938,470}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>grid_small.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{938,470}</string>
        <key>spriteSourceSize</key>
        <string>{938,470}</string>
        <key>textureRect</key>
        <string>{{2,948},{938,470}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>pointer.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{83,73}</string>
        <key>spriteSourceSize</key>
        <string>{83,73}</string>
        <key>textureRect</key>
        <string>{{769,1804},{83,73}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>window_big.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{307,154}</string>
        <key>spriteSourceSize</key>
        <string>{307,154}</string>
        <key>textureRect</key>
        <string>{{340,1421},{307,154}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>window_medium.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{229,115}</string>
        <key>spriteSourceSize</key>
        <string>{229,115}</string>
        <key>textureRect</key>
        <string>{{325,1683},{229,115}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>window_small.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{182,92}</string>
        <key>spriteSourceSize</key>
        <string>{182,92}</string>
        <key>textureRect</key>
        <string>{{293,1801},{182,92}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>stickerbook.png</string>
      <key>size</key>
      <string>{942,1938}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:084f1df337881776129bc68bcb0c0a9e:7da56b5bccdcd384c81ae4622036a21c:5eb81643a25a7edc2683e541b48f2aea$</string>
      <key>textureFileName</key>
      <string>stickerbook.png</string>
    </dict>
  </dict>
</plist>