<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>flag_algeria.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{2,2},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_allstar.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{135,2},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_argentina.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{268,2},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_australia.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{401,2},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_austria.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{534,2},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_belgium.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{667,2},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_bolivia.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{800,2},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_bosnia_herzegovina.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{2,81},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_brazil.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{135,81},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_bulgaria.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{268,81},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_burkina_faso.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{401,81},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_cameroon.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{534,81},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_chile.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{667,81},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_china.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{800,81},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_colombia.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{2,160},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_congo.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{135,160},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_costa_rica.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{268,160},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_croatia.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{401,160},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_czech_republic.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{534,160},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_denmark.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{667,160},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_egypt.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{800,160},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_england.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{2,239},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_france.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{135,239},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_germany.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{268,239},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_ghana.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{401,239},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_greece.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{534,239},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_hungary.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{667,239},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_iceland.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{800,239},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_india.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{2,318},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_iran.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{135,318},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_ireland.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{268,318},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_italy.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{401,318},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_japan.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{534,318},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_laos.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{667,318},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_malaysia.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{800,318},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_mexico.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{2,397},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_montenegro.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{135,397},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_morocco.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{268,397},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_netherlands.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{401,397},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_new_zealand.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{534,397},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_nigeria.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{667,397},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_northern_ireland.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{800,397},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_norway.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{2,476},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_pakistan.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{135,476},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_panama.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{268,476},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_paraguay.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{401,476},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_peru.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{534,476},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_philippines.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{667,476},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_poland.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{800,476},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_portugal.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{2,555},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_qatar.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{135,555},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_romania.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{268,555},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_russia.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{401,555},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_saudi_arabia.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{534,555},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_scotland.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{667,555},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_senegal.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{800,555},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_serbia.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{2,634},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_singapore.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{135,634},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_slovakia.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{268,634},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_south_africa.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{401,634},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_south_korea.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{534,634},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_spain.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{667,634},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_sweden.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{800,634},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_switzerland.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{2,713},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_taiwan.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{135,713},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_thailand.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{268,713},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_tunisia.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{401,713},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_turkey.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{534,713},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_ukraine.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{667,713},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_united_arab_emirates.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{800,713},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_uruguay.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{2,792},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_usa.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{135,792},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_venezuela.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{268,792},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_vietnam.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{401,792},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_wales.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{534,792},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>flag_world_all_star_big.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{180,105}</string>
        <key>spriteSourceSize</key>
        <string>{180,105}</string>
        <key>textureRect</key>
        <string>{{800,792},{180,105}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>indonesia.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{130,76}</string>
        <key>spriteSourceSize</key>
        <string>{130,76}</string>
        <key>textureRect</key>
        <string>{{667,792},{130,76}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>world_cup_flags.png</string>
      <key>size</key>
      <string>{982,899}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:d953c95c7733718fd5ce016835fe9b68:813d58a35cd15b21c7cd12a410d93d13:a9787db5f0fba7462e66595a7d2affe4$</string>
      <key>textureFileName</key>
      <string>world_cup_flags.png</string>
    </dict>
  </dict>
</plist>