<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>anais.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{202,208}</string>
        <key>spriteSourceSize</key>
        <string>{202,208}</string>
        <key>textureRect</key>
        <string>{{2,849},{202,208}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ben10.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{183,352}</string>
        <key>spriteSourceSize</key>
        <string>{183,352}</string>
        <key>textureRect</key>
        <string>{{1567,358},{183,352}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>blossom.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{132,267}</string>
        <key>spriteSourceSize</key>
        <string>{132,267}</string>
        <key>textureRect</key>
        <string>{{823,768},{132,267}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bmo.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{146,159}</string>
        <key>spriteSourceSize</key>
        <string>{146,159}</string>
        <key>textureRect</key>
        <string>{{1753,413},{146,159}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bubblegum.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{149,418}</string>
        <key>spriteSourceSize</key>
        <string>{149,418}</string>
        <key>textureRect</key>
        <string>{{187,426},{149,418}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>bubbles.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{188,209}</string>
        <key>spriteSourceSize</key>
        <string>{188,209}</string>
        <key>textureRect</key>
        <string>{{207,847},{188,209}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>buttercup.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{158,188}</string>
        <key>spriteSourceSize</key>
        <string>{158,188}</string>
        <key>textureRect</key>
        <string>{{1775,2},{158,188}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>cyborg.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{262,366}</string>
        <key>spriteSourceSize</key>
        <string>{262,366}</string>
        <key>textureRect</key>
        <string>{{1080,2},{262,366}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>darwin.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{172,235}</string>
        <key>spriteSourceSize</key>
        <string>{172,235}</string>
        <key>textureRect</key>
        <string>{{958,768},{172,235}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>finn.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{234,322}</string>
        <key>spriteSourceSize</key>
        <string>{234,322}</string>
        <key>textureRect</key>
        <string>{{1320,735},{234,322}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>fourarms.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{345,421}</string>
        <key>spriteSourceSize</key>
        <string>{345,421}</string>
        <key>textureRect</key>
        <string>{{2,2},{345,421}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>grizz.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{251,390}</string>
        <key>spriteSourceSize</key>
        <string>{251,390}</string>
        <key>textureRect</key>
        <string>{{539,398},{251,390}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>grup.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{244,251}</string>
        <key>spriteSourceSize</key>
        <string>{244,251}</string>
        <key>textureRect</key>
        <string>{{576,791},{244,251}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>gumball.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{184,225}</string>
        <key>spriteSourceSize</key>
        <string>{184,225}</string>
        <key>textureRect</key>
        <string>{{1133,761},{184,225}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ice.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{203,379}</string>
        <key>spriteSourceSize</key>
        <string>{203,379}</string>
        <key>textureRect</key>
        <string>{{793,386},{203,379}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>jake.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{175,226}</string>
        <key>spriteSourceSize</key>
        <string>{175,226}</string>
        <key>textureRect</key>
        <string>{{398,826},{175,226}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>marceline.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{136,381}</string>
        <key>spriteSourceSize</key>
        <string>{136,381}</string>
        <key>textureRect</key>
        <string>{{772,2},{136,381}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>mojo.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{419,313}</string>
        <key>spriteSourceSize</key>
        <string>{419,313}</string>
        <key>textureRect</key>
        <string>{{1557,735},{419,313}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>mordecai.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{242,353}</string>
        <key>spriteSourceSize</key>
        <string>{242,353}</string>
        <key>textureRect</key>
        <string>{{1345,2},{242,353}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>panda.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{284,375}</string>
        <key>spriteSourceSize</key>
        <string>{284,375}</string>
        <key>textureRect</key>
        <string>{{999,383},{284,375}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>prohyas.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{182,420}</string>
        <key>spriteSourceSize</key>
        <string>{182,420}</string>
        <key>textureRect</key>
        <string>{{2,426},{182,420}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>richard.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{419,393}</string>
        <key>spriteSourceSize</key>
        <string>{419,393}</string>
        <key>textureRect</key>
        <string>{{350,2},{419,393}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>rigby.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{157,217}</string>
        <key>spriteSourceSize</key>
        <string>{157,217}</string>
        <key>textureRect</key>
        <string>{{1775,193},{157,217}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>robin.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{182,352}</string>
        <key>spriteSourceSize</key>
        <string>{182,352}</string>
        <key>textureRect</key>
        <string>{{1590,2},{182,352}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>starfire.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{166,378}</string>
        <key>spriteSourceSize</key>
        <string>{166,378}</string>
        <key>textureRect</key>
        <string>{{911,2},{166,378}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>vambre.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{197,397}</string>
        <key>spriteSourceSize</key>
        <string>{197,397}</string>
        <key>textureRect</key>
        <string>{{339,426},{197,397}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>xlr8.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{278,361}</string>
        <key>spriteSourceSize</key>
        <string>{278,361}</string>
        <key>textureRect</key>
        <string>{{1286,371},{278,361}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>your_team_characters.png</string>
      <key>size</key>
      <string>{1978,1059}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:11d533dafe72078dde05385b8f8c5e90:b57c6a2f6ee9d5376238e1360eb10467:bec8e6f2f9ff493d9eb646aa1516ee5a$</string>
      <key>textureFileName</key>
      <string>your_team_characters.png</string>
    </dict>
  </dict>
</plist>