<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shadow_big.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{313,63}</string>
        <key>spriteSourceSize</key>
        <string>{313,63}</string>
        <key>textureRect</key>
        <string>{{1213,381},{313,63}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>shadow_medium.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{227,65}</string>
        <key>spriteSourceSize</key>
        <string>{227,65}</string>
        <key>textureRect</key>
        <string>{{1213,313},{227,65}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>shadow_small.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{164,64}</string>
        <key>spriteSourceSize</key>
        <string>{164,64}</string>
        <key>textureRect</key>
        <string>{{1443,313},{164,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>spot_bit.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{80,79}</string>
        <key>spriteSourceSize</key>
        <string>{80,79}</string>
        <key>textureRect</key>
        <string>{{1529,380},{80,79}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>spotlight.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1711,308}</string>
        <key>spriteSourceSize</key>
        <string>{1711,308}</string>
        <key>textureRect</key>
        <string>{{2,2},{1711,308}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>stage.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1208,303}</string>
        <key>spriteSourceSize</key>
        <string>{1208,303}</string>
        <key>textureRect</key>
        <string>{{2,313},{1208,303}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>your_team.png</string>
      <key>size</key>
      <string>{1715,618}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:c30dd4370559627f0765b80482209897:d0c6124d1f753acc18056fea176d913f:058664c699f7510157b470eb74d3ee28$</string>
      <key>textureFileName</key>
      <string>your_team.png</string>
    </dict>
  </dict>
</plist>