<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>arrow_down.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{40,52}</string>
        <key>spriteSourceSize</key>
        <string>{40,52}</string>
        <key>textureRect</key>
        <string>{{1258,189},{40,52}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>arrow_key_hit.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{71,71}</string>
        <key>spriteSourceSize</key>
        <string>{71,71}</string>
        <key>textureRect</key>
        <string>{{878,416},{71,71}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>arrow_keys.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{222,153}</string>
        <key>spriteSourceSize</key>
        <string>{222,153}</string>
        <key>textureRect</key>
        <string>{{2,316},{222,153}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>arrow_left.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{52,40}</string>
        <key>spriteSourceSize</key>
        <string>{52,40}</string>
        <key>textureRect</key>
        <string>{{307,453},{52,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>arrow_right.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{52,40}</string>
        <key>spriteSourceSize</key>
        <string>{52,40}</string>
        <key>textureRect</key>
        <string>{{362,453},{52,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>arrow_top.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{40,52}</string>
        <key>spriteSourceSize</key>
        <string>{40,52}</string>
        <key>textureRect</key>
        <string>{{1230,244},{40,52}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_back.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,109}</string>
        <key>spriteSourceSize</key>
        <string>{108,109}</string>
        <key>textureRect</key>
        <string>{{1007,132},{108,109}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_blue_long.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{387,89}</string>
        <key>spriteSourceSize</key>
        <string>{387,89}</string>
        <key>textureRect</key>
        <string>{{2,132},{387,89}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_blue_short.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{187,89}</string>
        <key>spriteSourceSize</key>
        <string>{187,89}</string>
        <key>textureRect</key>
        <string>{{1111,2},{187,89}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_card_left.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{77,143}</string>
        <key>spriteSourceSize</key>
        <string>{77,143}</string>
        <key>textureRect</key>
        <string>{{227,316},{77,143}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_card_right.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{76,143}</string>
        <key>spriteSourceSize</key>
        <string>{76,143}</string>
        <key>textureRect</key>
        <string>{{720,330},{76,143}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_close.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{69,71}</string>
        <key>spriteSourceSize</key>
        <string>{69,71}</string>
        <key>textureRect</key>
        <string>{{1073,244},{69,71}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_cross.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,79}</string>
        <key>spriteSourceSize</key>
        <string>{108,79}</string>
        <key>textureRect</key>
        <string>{{962,244},{108,79}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_exit.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,109}</string>
        <key>spriteSourceSize</key>
        <string>{108,109}</string>
        <key>textureRect</key>
        <string>{{407,218},{108,109}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_green_long.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{291,89}</string>
        <key>spriteSourceSize</key>
        <string>{291,89}</string>
        <key>textureRect</key>
        <string>{{2,224},{291,89}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_help.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,109}</string>
        <key>spriteSourceSize</key>
        <string>{108,109}</string>
        <key>textureRect</key>
        <string>{{518,218},{108,109}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_left.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{76,143}</string>
        <key>spriteSourceSize</key>
        <string>{76,143}</string>
        <key>textureRect</key>
        <string>{{799,330},{76,143}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_menu.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,109}</string>
        <key>spriteSourceSize</key>
        <string>{108,109}</string>
        <key>textureRect</key>
        <string>{{629,218},{108,109}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_no.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,109}</string>
        <key>spriteSourceSize</key>
        <string>{108,109}</string>
        <key>textureRect</key>
        <string>{{740,218},{108,109}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_off.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,80}</string>
        <key>spriteSourceSize</key>
        <string>{108,80}</string>
        <key>textureRect</key>
        <string>{{296,224},{108,80}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_on.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,80}</string>
        <key>spriteSourceSize</key>
        <string>{108,80}</string>
        <key>textureRect</key>
        <string>{{609,330},{108,80}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_onoff_black.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,80}</string>
        <key>spriteSourceSize</key>
        <string>{108,80}</string>
        <key>textureRect</key>
        <string>{{609,413},{108,80}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_pause.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,109}</string>
        <key>spriteSourceSize</key>
        <string>{108,109}</string>
        <key>textureRect</key>
        <string>{{851,218},{108,109}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_play_big.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{137,138}</string>
        <key>spriteSourceSize</key>
        <string>{137,138}</string>
        <key>textureRect</key>
        <string>{{1118,94},{137,138}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_right.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{77,143}</string>
        <key>spriteSourceSize</key>
        <string>{77,143}</string>
        <key>textureRect</key>
        <string>{{307,307},{77,143}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_settings.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,109}</string>
        <key>spriteSourceSize</key>
        <string>{108,109}</string>
        <key>textureRect</key>
        <string>{{387,330},{108,109}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_tick.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,79}</string>
        <key>spriteSourceSize</key>
        <string>{108,79}</string>
        <key>textureRect</key>
        <string>{{963,326},{108,79}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_yes.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,109}</string>
        <key>spriteSourceSize</key>
        <string>{108,109}</string>
        <key>textureRect</key>
        <string>{{498,330},{108,109}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>dialogue.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1106,127}</string>
        <key>spriteSourceSize</key>
        <string>{1106,127}</string>
        <key>textureRect</key>
        <string>{{2,2},{1106,127}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon-back.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{52,40}</string>
        <key>spriteSourceSize</key>
        <string>{52,40}</string>
        <key>textureRect</key>
        <string>{{307,453},{52,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon-bullet-burger.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{55,45}</string>
        <key>spriteSourceSize</key>
        <string>{55,45}</string>
        <key>textureRect</key>
        <string>{{1074,318},{55,45}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon-cross.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{42,42}</string>
        <key>spriteSourceSize</key>
        <string>{42,42}</string>
        <key>textureRect</key>
        <string>{{1258,144},{42,42}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon-exit.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{45,43}</string>
        <key>spriteSourceSize</key>
        <string>{45,43}</string>
        <key>textureRect</key>
        <string>{{515,442},{45,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon-forward.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{52,40}</string>
        <key>spriteSourceSize</key>
        <string>{52,40}</string>
        <key>textureRect</key>
        <string>{{362,453},{52,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon-help.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{26,38}</string>
        <key>spriteSourceSize</key>
        <string>{26,38}</string>
        <key>textureRect</key>
        <string>{{1273,244},{26,38}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon-pause.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{36,37}</string>
        <key>spriteSourceSize</key>
        <string>{36,37}</string>
        <key>textureRect</key>
        <string>{{563,442},{36,37}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon-sound-off.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{53,30}</string>
        <key>spriteSourceSize</key>
        <string>{53,30}</string>
        <key>textureRect</key>
        <string>{{1074,366},{53,30}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon-sound-on.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{46,43}</string>
        <key>spriteSourceSize</key>
        <string>{46,43}</string>
        <key>textureRect</key>
        <string>{{417,442},{46,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon-tick.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{46,43}</string>
        <key>spriteSourceSize</key>
        <string>{46,43}</string>
        <key>textureRect</key>
        <string>{{466,442},{46,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon_play.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{42,47}</string>
        <key>spriteSourceSize</key>
        <string>{42,47}</string>
        <key>textureRect</key>
        <string>{{1258,94},{42,47}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>keyboard_down.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{82,83}</string>
        <key>spriteSourceSize</key>
        <string>{82,83}</string>
        <key>textureRect</key>
        <string>{{878,330},{82,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>keyboard_down_grey.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{82,83}</string>
        <key>spriteSourceSize</key>
        <string>{82,83}</string>
        <key>textureRect</key>
        <string>{{1145,235},{82,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>keyboard_left.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{82,83}</string>
        <key>spriteSourceSize</key>
        <string>{82,83}</string>
        <key>textureRect</key>
        <string>{{1132,321},{82,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>keyboard_left_grey.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{82,83}</string>
        <key>spriteSourceSize</key>
        <string>{82,83}</string>
        <key>textureRect</key>
        <string>{{1217,321},{82,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>keyboard_right.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{82,83}</string>
        <key>spriteSourceSize</key>
        <string>{82,83}</string>
        <key>textureRect</key>
        <string>{{963,408},{82,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>keyboard_right_grey.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{82,83}</string>
        <key>spriteSourceSize</key>
        <string>{82,83}</string>
        <key>textureRect</key>
        <string>{{1048,408},{82,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>keyboard_up.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{82,83}</string>
        <key>spriteSourceSize</key>
        <string>{82,83}</string>
        <key>textureRect</key>
        <string>{{1133,407},{82,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>keyboard_up_grey.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{82,83}</string>
        <key>spriteSourceSize</key>
        <string>{82,83}</string>
        <key>textureRect</key>
        <string>{{1218,407},{82,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>spacebar.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{202,83}</string>
        <key>spriteSourceSize</key>
        <string>{202,83}</string>
        <key>textureRect</key>
        <string>{{392,132},{202,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>spacebar_grey.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{202,83}</string>
        <key>spriteSourceSize</key>
        <string>{202,83}</string>
        <key>textureRect</key>
        <string>{{597,132},{202,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>spacebar_hit.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{202,83}</string>
        <key>spriteSourceSize</key>
        <string>{202,83}</string>
        <key>textureRect</key>
        <string>{{802,132},{202,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>buttons.png</string>
      <key>size</key>
      <string>{1302,495}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:b19c79beda4914e5b25c82e591cc3a68:796a4cd14516067296e5c0b0f01d131b:b34c8670b11bb20cb1751a70d3683e22$</string>
      <key>textureFileName</key>
      <string>buttons.png</string>
    </dict>
  </dict>
</plist>