<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>backer.jpg</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{814,44}</string>
        <key>spriteSourceSize</key>
        <string>{814,44}</string>
        <key>textureRect</key>
        <string>{{841,978},{814,44}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>backer_gold.jpg</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{814,44}</string>
        <key>spriteSourceSize</key>
        <string>{814,44}</string>
        <key>textureRect</key>
        <string>{{830,1025},{814,44}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>backer_text.jpg</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{825,62}</string>
        <key>spriteSourceSize</key>
        <string>{825,62}</string>
        <key>textureRect</key>
        <string>{{2,1010},{825,62}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>board_this_week.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{836,501}</string>
        <key>spriteSourceSize</key>
        <string>{836,501}</string>
        <key>textureRect</key>
        <string>{{2,2},{836,501}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>board_today.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{836,501}</string>
        <key>spriteSourceSize</key>
        <string>{836,501}</string>
        <key>textureRect</key>
        <string>{{2,506},{836,501}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>board_tournament.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{836,501}</string>
        <key>spriteSourceSize</key>
        <string>{836,501}</string>
        <key>textureRect</key>
        <string>{{841,2},{836,501}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>chevron_down.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{32,23}</string>
        <key>spriteSourceSize</key>
        <string>{32,23}</string>
        <key>textureRect</key>
        <string>{{1658,978},{32,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>chevron_stay.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{32,12}</string>
        <key>spriteSourceSize</key>
        <string>{32,12}</string>
        <key>textureRect</key>
        <string>{{1647,1030},{32,12}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>chevron_up.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{32,23}</string>
        <key>spriteSourceSize</key>
        <string>{32,23}</string>
        <key>textureRect</key>
        <string>{{1658,1004},{32,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>country_area.jpg</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{825,62}</string>
        <key>spriteSourceSize</key>
        <string>{825,62}</string>
        <key>textureRect</key>
        <string>{{841,913},{825,62}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>leaderboard_line.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{834,14}</string>
        <key>spriteSourceSize</key>
        <string>{834,14}</string>
        <key>textureRect</key>
        <string>{{830,1072},{834,14}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>leaderboard_scroll_bar.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{9,357}</string>
        <key>spriteSourceSize</key>
        <string>{9,357}</string>
        <key>textureRect</key>
        <string>{{1680,2},{9,357}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>leaderboard_scroll_button.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{9,56}</string>
        <key>spriteSourceSize</key>
        <string>{9,56}</string>
        <key>textureRect</key>
        <string>{{1666,506},{9,56}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>no_database.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{822,404}</string>
        <key>spriteSourceSize</key>
        <string>{822,404}</string>
        <key>textureRect</key>
        <string>{{841,506},{822,404}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>leaderboard.png</string>
      <key>size</key>
      <string>{1692,1088}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:9d3c3b4e3243b28799899fd943422cdc:9e5071674ea4bc4cff9b3890e7b65097:4fe47694e196b86d00aff58650e5f63b$</string>
      <key>textureFileName</key>
      <string>leaderboard.png</string>
    </dict>
  </dict>
</plist>