<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>banner.jpg</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{320,50}</string>
        <key>spriteSourceSize</key>
        <string>{320,50}</string>
        <key>textureRect</key>
        <string>{{1713,837},{320,50}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>default_ad.jpg</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{320,50}</string>
        <key>spriteSourceSize</key>
        <string>{320,50}</string>
        <key>textureRect</key>
        <string>{{1713,890},{320,50}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>main-menu-sponsor.jpg</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1272,328}</string>
        <key>spriteSourceSize</key>
        <string>{1272,328}</string>
        <key>textureRect</key>
        <string>{{2,2},{1272,328}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>offscreen_marker_ring_blue.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{1849,387},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>offscreen_marker_ring_red.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{60,64}</string>
        <key>spriteSourceSize</key>
        <string>{60,64}</string>
        <key>textureRect</key>
        <string>{{1912,398},{60,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>overlay-background-2018.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{1136,745}</string>
        <key>spriteSourceSize</key>
        <string>{1136,745}</string>
        <key>textureRect</key>
        <string>{{2,333},{1136,745}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>pickup-coin.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{76,85}</string>
        <key>spriteSourceSize</key>
        <string>{76,85}</string>
        <key>textureRect</key>
        <string>{{1849,2},{76,85}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>pitch_banner.jpg</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{320,50}</string>
        <key>spriteSourceSize</key>
        <string>{320,50}</string>
        <key>textureRect</key>
        <string>{{1713,943},{320,50}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>pitch_circle_banner.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{330,330}</string>
        <key>spriteSourceSize</key>
        <string>{330,330}</string>
        <key>textureRect</key>
        <string>{{1713,504},{330,330}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>player_marker_ring.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{70,96}</string>
        <key>spriteSourceSize</key>
        <string>{70,96}</string>
        <key>textureRect</key>
        <string>{{1928,2},{70,96}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>player_marker_ring_arrow_blue.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{70,96}</string>
        <key>spriteSourceSize</key>
        <string>{70,96}</string>
        <key>textureRect</key>
        <string>{{1849,90},{70,96}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>player_marker_ring_arrow_blue_light.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{70,96}</string>
        <key>spriteSourceSize</key>
        <string>{70,96}</string>
        <key>textureRect</key>
        <string>{{1922,101},{70,96}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>player_marker_ring_arrow_yellow.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{70,96}</string>
        <key>spriteSourceSize</key>
        <string>{70,96}</string>
        <key>textureRect</key>
        <string>{{1849,189},{70,96}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>player_marker_ring_blue.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{70,96}</string>
        <key>spriteSourceSize</key>
        <string>{70,96}</string>
        <key>textureRect</key>
        <string>{{1922,200},{70,96}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>player_marker_ring_yellow.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{70,96}</string>
        <key>spriteSourceSize</key>
        <string>{70,96}</string>
        <key>textureRect</key>
        <string>{{1849,288},{70,96}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>player_ring_fill.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{70,96}</string>
        <key>spriteSourceSize</key>
        <string>{70,96}</string>
        <key>textureRect</key>
        <string>{{1922,299},{70,96}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ref_01.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{569,499}</string>
        <key>spriteSourceSize</key>
        <string>{569,499}</string>
        <key>textureRect</key>
        <string>{{1277,2},{569,499}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ref_02.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{569,499}</string>
        <key>spriteSourceSize</key>
        <string>{569,499}</string>
        <key>textureRect</key>
        <string>{{1141,504},{569,499}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>game_bits.png</string>
      <key>size</key>
      <string>{2045,1080}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:e001bdd92a68202b47cb8a6d43aefd14:823f90bccca7e33c7097f814020e1a8c:e15ab4309d94c70a77887bd9ee055221$</string>
      <key>textureFileName</key>
      <string>game_bits.png</string>
    </dict>
  </dict>
</plist>